[%% Kernel/logger
 {kernel, [{logger,[{handler,default,logger_std_h,#{}}]},
           {inet_dist_listen_min, 12345},
           {inet_dist_listen_max, 12345}
           %%,{logger_level,info}
          ]},
 {prometheus,
  [
   {cowboy_instrumenter, [{duration_buckets, [0.01, 0.1, 0.25, 0.5, 0.75, 1, 1.5, 2, 4]},
                           {early_error_labels,  []},
                           {request_labels, [method, reason, status_class]},
                           {error_labels, [method, reason, error]},
                           {registry, default}]},
   {collectors, [default, prometheus_process_collector]}
  ]}
].
