
{deps, []}.

{relx, [{release, {"backend", "1.0.0"}, [backend]},
        {vm_args_src, "config/vm.args.src"},
        {sys_config_src, "config/sys.config.src"},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true},
        {overlay, [{copy,"fix_pod_name","bin/fix_pod_name"}]},
        {extended_start_script_hooks, [
                    {pre_start, [
                      {custom, "fix_pod_name"}
                    ]}]}
    ]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true},
                            {include_src, false}]}]}
           ]}.
%% vim: ft=erlang
